---
title: Monitoring Pivotal Cloud Foundry 
owner: PCF Metrics Platform Monitoring
---

This guide describes how Pivotal Cloud Foundry (PCF) operators can monitor their Pivotal Application Service (PAS) deployments. For information about monitoring Pivotal Container Service (PKS) deployments, see [Logging and Monitoring PKS](https://docs.pivotal.io/runtimes/pks/monitor.html).

For more information about logging and metrics in PCF, see [Overview of Logging and Metrics](../loggregator/data-sources.html). 

##<a id="guide"></a> Overview

This guide includes the following topics: 

* <a class="subnav" href="./kpi.html">Key Performance Indicators</a>: A list of Key Performance Indicators (KPIs) that operators may want to monitor with their PAS deployment to help ensure it is in a good operational state.
* <a class="subnav" href="./key-cap-scaling.html">Key Capacity Scaling Indicators</a>: A list of capacity scaling indicators that operators may want to  monitor to determine when they need to scale their PAS deployments.
* <a class="subnav" href="./metrics.html">Selecting and Configuring a Monitoring System</a>: Guidance for setting up PAS with monitoring platforms to continuously monitor component metrics and trigger health alerts.

##<a id="new"></a> KPI Changes from PAS v2.0 to v2.1

This table highlights new and changed KPIs in PAS v2.1.

<table>
  <tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>rep.UnhealthyCell</code></strong><br><br>
    Added a recommended warning threshold of = 1 to prompt further investigation. Previously, only a critical threshold was recommended.
    </td>
    <td><a href="./kpi.html#UnhealthyCell">Link</a></td>
  </tr> 
  <tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>Number of Route Registration Messages Sent and Received</code></strong><br><br>
      The <code>route_emitter.MessagesEmitted</code> metric has been deprecated in favor of <code>route_emitter.HTTPRouteNATSMessagesEmitted</code>. The suggested formula for this assessment has been updated.
    </td>
    <td><a href="./kpi.html#route-registration">Link</a></td>
  </tr> 
  <tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>Log Transport Loss Rate</code> (formerly Firehose Loss Rate)</strong><br><br>
      In PAS v2.1, it is no longer necessary to include <code>DopplerServer.doppler.shedEnvelopes</code> or <code>DopplerServer.listeners.totalReceivedMessageCount</code> in the calculated values, as these metrics are now deprecated. The formula to calculate Loss Rate has been updated accordingly. Additionally, this measure of Loss Rate has been renamed to better distinguish it from future measures regarding Log Ingress.
      <br><br>
      Due to improvements in the underlying architecture, recommended thresholds are now:
         <ul>
         <li>Warning/Yellow &ge; 0.005</li>
         <li>Critical/Red &ge; 0.001</li>
         </ul>
    </td>
    <td><a href="./key-cap-scaling.html#firehose-loss-rate">Link</a></td>
  </tr> 
  <tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>Scalable Syslog Drain Bindings Count</code></strong><br><br>
    As of May 2018, the recommended scaling threshold for this metric was modified downward.
  </td>
    <td><a href="./key-cap-scaling.html#scalable-syslog-ksi">Link</a></td>
  </tr>
  <tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>Cloud Controller and Diego in Sync</code></strong><br><br>
      As of May 2018, the recommended alerting threshold for this metric was modified.
    </td>
    <td><a href="./kpi.html#cc-diego-sync">Link</a></td>
  </tr>
  <tr>
    <td><em>New</em></td>
    <td>KPI: <strong><code>Doppler Message Rate Capacity</code></strong><br><br>
      Indicates the need to scale based on the recommended maximum load for Doppler instances.
    </td>
    <td><a href="./key-cap-scaling.html#doppler-message-rate-ksi">Link</a></td>
  </tr> 
  <tr>
    <td><em>Deleted</em></td>
    <td>KPI: <strong><code>Firehose Dropped Messages</code></strong><br><br>
      With the addition of new Firehose metrics, this metric is no longer recommended as a high-value monitoring indicator. 
    </td>
    <td><em>n/a</em></td>
  </tr> 
  <tr>
    <td><em>Deleted</em></td>
    <td>KPI: <strong><code>Firehose Throughput</code></strong><br><br>
      With the addition of new Firehose metrics, this metric is no longer recommended as a high-value monitoring indicator. <a href="key-cap-scaling.html#firehose-loss-rate">Log Transport Loss Rate</a> and <a href="key-cap-scaling.html#doppler-message-rate-ksi">Doppler Message Rate Capacity</a> are the recommended indicators for scaling needs.
    </td>
    <td><em>n/a</em></td>
  </tr> 
</table> 

##<a id="resources"></a> Monitor PCF Services

For information about KPIs and metrics for PCF services, see the following topics:

* **MySQL for PCF**: [Monitoring MySQL for PCF](https://docs.pivotal.io/p-mysql/monitor.html).
* **Pivotal Cloud Cache**: See [Monitoring Pivotal Cloud Cache](https://docs.pivotal.io/p-cloud-cache/monitoring.html).
* **Redis for PCF**: [Monitoring Redis for PCF](https://docs.pivotal.io/redis/2-0/monitoring.html).
* **RabbitMQ for PCF (pre-provisioned)**: See [Monitoring and KPIs for Pre-Provisioned RabbitMQ for PCF](https://docs.pivotal.io/rabbitmq-cf/monitor-pp.html).
* **RabbitMQ for PCF (on-demand)**: See [Monitoring and KPIs for On-Demand RabbitMQ for PCF](https://docs.pivotal.io/rabbitmq-cf/monitor.html).