---
title: Monitoring Pivotal Cloud Foundry 
owner: PCF Metrics Platform Monitoring
---

This guide describes how Pivotal Cloud Foundry (PCF) operators can monitor their deployments. 

##<a id="guide"></a> In This Guide

This guide includes the following topics: 

* <a class="subnav" href="./kpi.html">Key Performance Indicators</a>: A list of Key Performance Indicators (KPIs) that operators may want to monitor with their PCF deployment to help ensure it is in a good operational state.
* <a class="subnav" href="./key-cap-scaling.html">Key Capacity Scaling Indicators</a>: A list of capacity scaling indicators that operators may want to  monitor to determine when they need to scale their PCF deployments.
* <a class="subnav" href="./metrics.html">Configuring a Monitoring System</a>: Guidance for setting up PCF with third-party monitoring platforms to continuously monitor system metrics and trigger health alerts.

See <a href="#resources">Additional Resources</a> for information on logging and metrics in PCF, and monitoring of services for PCF.

##<a id="new"></a> KPI Changes from PCF v1.10 to v1.11

This table highlights new and changed KPIs in PCF v1.11.

<table>
  <tr>
    <th>Change</th>
    <th>Which KPI and why?</th>
    <th>See&hellip;</th>
  </tr>
  <tr>
    <td><em>New</em></td>
    <td>KPI: <strong><code>Scalable Syslog Loss Rate</code></strong><br><br>
    A new component and new functionality within the Firehose system requires additional performance monitoring.
    The loss rate of the scalable syslog adapters is derived from two new metrics: <code>scalablesyslog.adapter.dropped</code> and 
    <code>scalablesyslog.adapter.ingress</code>.</td>
    <td><a href="./kpi.html#scalable-syslog-loss-rate">Link</a></td>
  </tr>
  <tr>
    <td><em>New</em></td>
    <td>KPI: <strong><code>scalablesyslog.scheduler.drains</code></strong><br><br>
    New component functionality within the Firehose system adds the need for additional performance monitoring considerations.</td>
    <td><a href="./key-cap-scaling.html#scalable-syslog-ksi">Link</a></td>
  </tr>
  <tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>auctioneer.AuctioneerFetchStatesDuration</code></strong><br><br>
         Due to improvements in the underlying architecture, recommended thresholds are now:
         <ul>
         <li>Yellow 2&nbsp;s (formerly 5&nbsp;s)</li>
         <li>Red 5&nbsp;s (formerly 10&nbsp;s)</li>
         </ul>
    </td>
    <td><a href="./kpi.html#AuctioneerFetchStatesDuration">Link</a></td>
  </tr>
  <tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>rep.RepBulkSyncDuration</code></strong><br><br>
         Due to improvements in the route emitter, recommended starting thresholds on this dynamic metric are now:
         <ul>
         <li>Yellow 5&nbsp;s (formerly 10&nbsp;s)</li>
         <li>Red 10&nbsp;s (formerly 20&nbsp;s)</li>
         </ul>
    </td>
    <td><a href="./kpi.html#RepBulkSyncDuration">Link</a></td>
  </tr>
  <tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>route_emitter.RouteEmitterSyncDuration</code></strong><br><br>
         Due to improvements in the underlying architecture, recommended thresholds are now:
         <ul>
         <li>Yellow 5&nbsp;s (formerly 10&nbsp;s)</li>
         <li>Red 10&nbsp;s (formerly 20&nbsp;s)</li>
         </ul>
    </td>
    <td><a href="./kpi.html#RouteEmitterSyncDuration">Link</a></td>
  </tr>
   <tr>
    <td><em>Deleted</em></td>
    <td>KPI: <strong><code>route_emitter.ConsulDownMode</code></strong><br><br>
         This KPI was highly specific to monitoring for negative consul impacts that could result in application routes becoming unavailable. Continued improvements to the route emitter have now removed the consul dependency; there is no longer communication between route emitter and consul.</td>
    <td><em>n/a</em></td>
  </tr>
  <tr>
    <td><em>Deleted</em></td>
    <td>KPI: <strong><code>nsync_bulker.DesiredLRPSyncDuration</code></strong><br><br>
         This metric is no longer relevant with the related architectural changes to secure Cloud Controller to Diego communication.</td>
    <td><em>n/a</em></td>
  </tr>
</table> 

##<a id="resources"></a> Additional Resources

For information about logging and metrics in PCF, see the following topics:

* [Configuring System Logging in Elastic Runtime](../opsguide/logging-config-opsman.html): 
This topic explains how to configure the PCF Loggregator system to scale its maximum throughput and to forward logs to an external aggregator service.
* [Logging and Metrics](../loggregator/index.html): A guide to Loggregator, the system which aggregates and streams logs and metrics 
from user apps and system components in Elastic Runtime.

For information about KPIs and metrics for PCF services, see the following topics:

* **RabbitMQ for PCF (on-demand)**: [Monitoring and KPIs for On-Demand RabbitMQ for PCF](https://docs.pivotal.io/rabbitmq-cf/monitor.html)
* **RabbitMQ for PCF (pre-provisioned)**: [Monitoring and KPIs for Pre-Provisioned RabbitMQ for PCF](https://docs.pivotal.io/rabbitmq-cf/monitor-pp.html)
