---
title: Monitoring Pivotal Cloud Foundry 
owner: PCF Metrics Platform Monitoring
---

This guide describes how Pivotal Cloud Foundry (PCF) operators can monitor their deployments. 

## In This Guide

This guide includes the following topics: 

* <a class="subnav" href="./kpi.html">Key Performance Indicators</a>: A list of Key Performance Indicators (KPIs) that operators may want to monitor with their PCF deployment to help ensure it is in a good operational state.
* <a class="subnav" href="./key-cap-scaling.html">Key Capacity Scaling Indicators</a>: A list of capacity scaling indicators that operators may want to  monitor to determine when they need to scale their PCF deployments.
* <a class="subnav" href="./metrics.html">Configuring a Monitoring System</a>: Guidance for setting up PCF with third-party monitoring platforms to continuously monitor system metrics and trigger health alerts.

## Additional Resources

See the following topics for information about logging and metrics in PCF: 

* [Configuring System Logging in Elastic Runtime](../opsguide/logging-config-opsman.html): This topic explains how to configure the PCF Loggregator system to scale its maximum throughput, and to forward logs to an external aggregator service.
* [Logging and Metrics](../loggregator/index.html): A guide to Loggregator, the next generation system for aggregating and streaming logs and metrics from all of the user apps and system components in Elastic Runtime.
