---
title: Monitoring Pivotal Cloud Foundry 
owner: PCF Metrics Platform Monitoring
---

This guide describes how Pivotal Cloud Foundry (PCF) operators can monitor their deployments. 

##<a id="guide"></a> In This Guide

This guide includes the following topics: 

* <a class="subnav" href="./kpi.html">Key Performance Indicators</a>: A list of Key Performance Indicators (KPIs) that operators may want to monitor with their PCF deployment to help ensure it is in a good operational state.
* <a class="subnav" href="./key-cap-scaling.html">Key Capacity Scaling Indicators</a>: A list of capacity scaling indicators that operators may want to  monitor to determine when they need to scale their PCF deployments.
* <a class="subnav" href="./metrics.html">Configuring a Monitoring System</a>: Guidance for setting up PCF with third-party monitoring platforms to continuously monitor system metrics and trigger health alerts.

For information about logging and metrics in PCF and about monitoring of services for PCF, see <a href="#resources">Additional Resources</a> below.

##<a id="new"></a> KPI Changes from PCF v1.12 to v2.0

This table highlights new and changed KPIs in PCF v2.0.

<table>
<tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>Adapter Loss Rate</code></strong><br><br>
      The origin name of these metrics has changed from <code>scalablesyslog</code> to <code>cf-syslog-drain</code>.
    </td>
    <td><a href="./key-cap-scaling.html#syslog-adapter-ksi">Link</a></td>
  </tr>
  <tr>
    <td><em>Modified</em></td>
    <td>KPI: <strong><code>Syslog Drain Bindings Count</code></strong><br><br>
      The origin name of this metric has changed from <code>scalablesyslog</code> to <code>cf-syslog-drain</code>.
    </td>
    <td><a href="./key-cap-scaling.html#scalable-syslog-ksi">Link</a></td>
  </tr> 
</table> 

##<a id="resources"></a> Additional Resources

For information about logging and metrics in PCF, see the following topics:

* [Configuring System Logging in PAS](../opsguide/logging-config-opsman.html): 
This topic explains how to configure the PCF Loggregator system to scale its maximum throughput and to forward logs to an external aggregator service.
* [Logging and Metrics](../loggregator/index.html): A guide to Loggregator, the system which aggregates and streams logs and metrics 
from user apps and system components in PAS.

For information about KPIs and metrics for PCF services, see the following topics:

* **RabbitMQ for PCF (on-demand)**: [Monitoring and KPIs for On-Demand RabbitMQ for PCF](https://docs.pivotal.io/rabbitmq-cf/monitor.html)
* **RabbitMQ for PCF (pre-provisioned)**: [Monitoring and KPIs for Pre-Provisioned RabbitMQ for PCF](https://docs.pivotal.io/rabbitmq-cf/monitor-pp.html)
